body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
}

.search-form {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100vw;
  background-color: #315da7;
  -webkit-box-shadow: 0px 2px 5px -1px rgba(49, 93, 167, 1);
  -moz-box-shadow: 0px 2px 5px -1px rgba(49, 93, 167, 1);
  box-shadow: 0px 2px 5px -2px rgba(49, 93, 167, 1);
}

.search-form input {
  font-size: 14px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px;
  border: 3px solid lightblue;
  border-right: none;
  width: 300px;
  height: 26px;
  font-weight: 700;
}

.search-form > button {
  height: 42px;
  width: 42px;
  border: 3px solid lightblue;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  &:hover,
  &:focus {
    background-color: lightgray;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

#loadMore {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  min-width: 100px;
  padding: 10px;
  background-color: #315da7;
  color: #fff;
  border-radius: 5px;
  border: none;

  &:hover,
  &:focus {
    background-color: #313da7;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

#loadMore.hidden {
  display: none;
}

#loadMore[disabled] {
  background-color: gray;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 82px;
  padding-bottom: 20px;
}

.photo-card {
  width: calc((100% - 60px) / 4);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px 4px 4px 4px;
  overflow: hidden;

  &:hover,
  &:focus {
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.photo-card img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.photo-link {
  width: 100%;
  height: 200px;
  cursor: pointer;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  background-color: #f5f4fa;
}

.back-btn {
  position: absolute;
  top: 10px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  border: 3px solid lightblue;
  border-radius: 5px;
  background-color: rgb(239, 239, 239);

  &:hover,
  &:focus {
    background-color: lightgray;
  }
}

#loading-forever {
  display: block;
  margin: 0 auto;
}

#loading-forever.hidden {
  display: none;
}

.start-menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 250px;
  height: 100px;
  border: 1px solid #000;
  font-weight: 700;
  color: black;
  background-color: rgb(239, 239, 239);
  -webkit-box-shadow: 8px 9px 12px -12px rgba(46, 74, 117, 1);
  -moz-box-shadow: 8px 9px 12px -12px rgba(46, 74, 117, 1);
  box-shadow: 8px 9px 12px -12px rgba(46, 74, 117, 1);

  &:hover,
  &:focus {
    background-color: #ff6c00;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.logo-img {
  display: block;
  margin: 0 auto;
}
