body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

.container {
  // width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.search-form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100vw;
  background-color: #315da7;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(49, 93, 167, 1);
  -moz-box-shadow: 0px 2px 7px 0px rgba(49, 93, 167, 1);
  box-shadow: 0px 2px 7px 0px rgba(49, 93, 167, 1);
}

.search-form input {
  font-size: 14px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px;
  border: 3px solid lightblue;
  border-right: none;
  width: 300px;
  height: 26px;
}

.search-form > button {
  height: 42px;
  width: 42px;
  border: 3px solid lightblue;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  &:hover,
  &:focus {
    background-color: lightgray;
  }
}

#loadMore {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  min-width: 100px;
  padding: 10px;
  background-color: #315da7;
  color: #fff;
  border-radius: 5px;
  border: none;

  &:hover,
  &:focus {
    background-color: #313da7;
  }
}

#loadMore.hidden {
  display: none;
}

#loadMore[disabled] {
  background-color: gray;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0;
}

.photo-card {
  width: calc((100% - 60px) / 4);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px 4px 4px 4px;
  overflow: hidden;

  &:hover,
  &:focus {
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
  }
}

.photo-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.photo-link {
  width: 100%;
  height: 200px;
  cursor: pointer;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  background-color: #f5f4fa;
}

.back-btn {
  position: absolute;
  top: 8px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  border: 3px solid lightblue;
  border-radius: 5px;
  background-color: rgb(239, 239, 239);

  &:hover,
  &:focus {
    background-color: lightgray;
  }
}
